<a href="https://colab.research.google.com/github/jazminmontenegro/Visualizaci-n-de-datos-/blob/main/Ejercicio_ingenieria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [71]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [72]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_selector
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestRegressor

In [73]:
df = pd.read_csv('/content/drive/MyDrive/Colab/bikeshare_train - bikeshare_train.csv')
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 0:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 1:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 2:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 3:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 4:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [74]:
df1= df.drop(['casual', 'registered'], axis=1)
df1.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
0,2011-01-01 0:00:00,1,0,0,1,9.84,14.395,81,0.0,16
1,2011-01-01 1:00:00,1,0,0,1,9.02,13.635,80,0.0,40
2,2011-01-01 2:00:00,1,0,0,1,9.02,13.635,80,0.0,32
3,2011-01-01 3:00:00,1,0,0,1,9.84,14.395,75,0.0,13
4,2011-01-01 4:00:00,1,0,0,1,9.84,14.395,75,0.0,1

En este caso la columna “datetime” (fecha) cargada como un tipo “object” (objeto) se utiliza pd.to_datetime() para cambiar el la hora a datatime.

In [75]:
df1['datetime'] = pd.to_datetime(df['datetime'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  datetime64[ns]
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   count       10886 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(6)
memory usage: 850.6 KB

#  1. Nombre del mes

In [76]:
df1['month (name)'] = df1['datetime'].dt.month_name()
df1

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,month (name)
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,16,January
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,40,January
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,32,January
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,13,January
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,1,January
...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,336,December
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,241,December
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,168,December
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,129,December
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,88,December

 # 2. Nombre del día de la semana

In [77]:
df1['day of week (name)'] = df1['datetime'].dt.day_name()
df1

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,month (name),day of week (name)
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,16,January,Saturday
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,40,January,Saturday
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,32,January,Saturday
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,13,January,Saturday
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,1,January,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,336,December,Wednesday
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,241,December,Wednesday
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,168,December,Wednesday
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,129,December,Wednesday
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,88,December,Wednesday

#3. Hora del día

In [78]:
df1['Hour'] = [d.time() for d in df1['datetime']]
df1

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,month (name),day of week (name),Hour
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,16,January,Saturday,00:00:00
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,40,January,Saturday,01:00:00
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,32,January,Saturday,02:00:00
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,13,January,Saturday,03:00:00
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,1,January,Saturday,04:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,336,December,Wednesday,19:00:00
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,241,December,Wednesday,20:00:00
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,168,December,Wednesday,21:00:00
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,129,December,Wednesday,22:00:00
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,88,December,Wednesday,23:00:00

 Asegúrate que todas las 3 nuevas columnas son un tipo de datos “objeto” para que se más tarde se le aplica una codificación one-hot.

In [79]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   datetime            10886 non-null  datetime64[ns]
 1   season              10886 non-null  int64
 2   holiday             10886 non-null  int64
 3   workingday          10886 non-null  int64
 4   weather             10886 non-null  int64
 5   temp                10886 non-null  float64
 6   atemp               10886 non-null  float64
 7   humidity            10886 non-null  int64
 8   windspeed           10886 non-null  float64
 9   count               10886 non-null  int64
 10  month (name)        10886 non-null  object
 11  day of week (name)  10886 non-null  object
 12  Hour                10886 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(6), object(3)
memory usage: 1.1+ MB

#one-hot

#Asignación de X y train test split

# random forest regressor para caracteristicas creadas

In [80]:
X = df1.drop(columns = ['count', 'datetime','season'])
y = df1['count']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [81]:
cat_selector = make_column_selector(dtype_include='object')

In [82]:
# Instantiate Standard Scaler
scaler = StandardScaler()

#Selección de columnas categóricas

In [83]:
cat_selector(X_train)

['month (name)', 'day of week (name)', 'Hour']

In [84]:
train_cat_data = X_train[cat_selector(X_train)]
test_cat_data = X_test[cat_selector(X_test)]
train_cat_data

     month (name) day of week (name)      Hour
2930         July             Monday  00:00:00
7669          May             Friday  22:00:00
1346        April             Friday  23:00:00
9432    September             Sunday  09:00:00
453      February            Tuesday  23:00:00
...           ...                ...       ...
5734      January           Saturday  02:00:00
5191     December           Saturday  09:00:00
5390     December             Sunday  16:00:00
860      February           Saturday  07:00:00
7270          May          Wednesday  07:00:00

[8164 rows x 3 columns]

In [85]:
#instancien la codificación one-hot
ohe_encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
# ajusten el OneHotEncoder en los datos de entrenamiento
ohe_encoder.fit(train_cat_data)
# transforme los datos de entrenamiento y de prueba
train_ohe = ohe_encoder.transform(train_cat_data)
test_ohe = ohe_encoder.transform(test_cat_data)
train_ohe

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [1., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [86]:
# establezcan prefijos a la columna de nombres original
ohe_column_names = ohe_encoder.get_feature_names_out(train_cat_data.columns)
train_ohe = pd.DataFrame(train_ohe, columns=ohe_column_names)
test_ohe = pd.DataFrame(test_ohe, columns=ohe_column_names)
train_ohe

,month (name)_April,month (name)_August,month (name)_December,month (name)_February,month (name)_January,month (name)_July,month (name)_June,month (name)_March,month (name)_May,month (name)_November,...,Hour_14:00:00,Hour_15:00:00,Hour_16:00:00,Hour_17:00:00,Hour_18:00:00,Hour_19:00:00,Hour_20:00:00,Hour_21:00:00,Hour_22:00:00,Hour_23:00:00
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8159,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8160,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8161,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8162,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8163,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [87]:
# creen un selector numérico
num_selector = make_column_selector(dtype_include='number')
# aislen las columnas numéricas
train_nums = X_train[num_selector(X_train)].reset_index(drop=True)
test_nums = X_test[num_selector(X_test)].reset_index(drop=True)
# recombinen los conjuntos de entrenamiento y de prueba en el eje 1 (columnas)
X_train_processed = pd.concat([train_nums, train_ohe], axis=1)
X_test_processed = pd.concat([test_nums, test_ohe], axis=1)
X_train_processed

,holiday,workingday,weather,temp,atemp,humidity,windspeed,month (name)_April,month (name)_August,month (name)_December,...,Hour_14:00:00,Hour_15:00:00,Hour_16:00:00,Hour_17:00:00,Hour_18:00:00,Hour_19:00:00,Hour_20:00:00,Hour_21:00:00,Hour_22:00:00,Hour_23:00:00
0,0,1,1,28.70,32.575,65,12.9980,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,1,1,22.96,26.515,52,22.0028,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0,1,1,12.30,15.910,61,6.0032,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0,0,1,23.78,27.275,60,8.9981,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,1,3,8.20,9.850,93,12.9980,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8159,0,0,1,6.56,8.335,47,11.0014,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8160,0,0,1,11.48,12.880,61,19.0012,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8161,0,0,1,11.48,13.635,48,16.9979,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8162,0,0,1,15.58,19.695,17,35.0008,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8163,0,1,2,22.14,25.760,88,12.9980,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [88]:
rf = RandomForestRegressor(random_state = 42)
model_creadas = make_pipeline(scaler,rf)
model_creadas.fit(X_train_processed, y_train)
print('Training score:', model_creadas.score(X_train_processed, y_train))
print('Testing score:', model_creadas.score(X_test_processed, y_test))

Training score: 0.9765151872577034
Testing score: 0.8438080488123841

Las temperaturas en la columna “temp” y “atemp” son en Celsius. Utiliza .apply() para convertirlas en Fahrenheit.

In [89]:
def fahr(temperatura):
  temp_f = (temperatura*(9/5))+32
  return temp_f

df1['temp'] = df1['temp'].apply(fahr)
df1['atemp'] = df1['atemp'].apply(fahr)

Crea una nueva columna, “temp_variance” que es la diferencia entre “temp” y “atemp”. Elimina la columna “atemp”.

In [90]:
df1['temp_variance'] = df1['temp'] - df1['atemp'] 
df1 = df1.drop(['atemp'], axis=1)
df1.head()

,datetime,season,holiday,workingday,weather,temp,humidity,windspeed,count,month (name),day of week (name),Hour,temp_variance
0,2011-01-01 00:00:00,1,0,0,1,49.712,81,0.0,16,January,Saturday,00:00:00,-8.199
1,2011-01-01 01:00:00,1,0,0,1,48.236,80,0.0,40,January,Saturday,01:00:00,-8.307
2,2011-01-01 02:00:00,1,0,0,1,48.236,80,0.0,32,January,Saturday,02:00:00,-8.307
3,2011-01-01 03:00:00,1,0,0,1,49.712,75,0.0,13,January,Saturday,03:00:00,-8.199
4,2011-01-01 04:00:00,1,0,0,1,49.712,75,0.0,1,January,Saturday,04:00:00,-8.199

Utiliza un modelo predictivo de tu elección e intenta predecir el “count” de usuarios de bicicletas compartidas por hora, con las características originales y el conjunto de características de ingeniería que acabas de crear.

Recuerda eliminar las columnas “casual” y “registered” de ambas versiones antes de realizar una modelización.

# random forest regressor para caracteristicas originales

In [91]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 0:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 1:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 2:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 3:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 4:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

Asignación de X y train test split

In [92]:
X = df.drop(columns = ['count', 'casual','registered'])
y = df['count']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [93]:
# Instantiate Standard Scaler
scaler = StandardScaler()

In [94]:
cat_selector = make_column_selector(dtype_include='object')

In [95]:
cat_selector(X_train)

['datetime']

In [96]:
train_cat_data = X_train[cat_selector(X_train)]
test_cat_data = X_test[cat_selector(X_test)]
train_cat_data

                 datetime
2930   2011-07-11 0:00:00
7669  2012-05-18 22:00:00
1346  2011-04-01 23:00:00
9432   2012-09-16 9:00:00
453   2011-02-01 23:00:00
...                   ...
5734   2012-01-14 2:00:00
5191   2011-12-10 9:00:00
5390  2011-12-18 16:00:00
860    2011-02-19 7:00:00
7270   2012-05-02 7:00:00

[8164 rows x 1 columns]

In [97]:
#instancien la codificación one-hot
ohe_encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')
# ajusten el OneHotEncoder en los datos de entrenamiento
ohe_encoder.fit(train_cat_data)
# transforme los datos de entrenamiento y de prueba
train_ohe = ohe_encoder.transform(train_cat_data)
test_ohe = ohe_encoder.transform(test_cat_data)
train_ohe

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [98]:
# establezcan prefijos a la columna de nombres original
ohe_column_names = ohe_encoder.get_feature_names_out(train_cat_data.columns)
train_ohe = pd.DataFrame(train_ohe, columns=ohe_column_names)
test_ohe = pd.DataFrame(test_ohe, columns=ohe_column_names)
train_ohe

,datetime_2011-01-01 11:00:00,datetime_2011-01-01 13:00:00,datetime_2011-01-01 15:00:00,datetime_2011-01-01 16:00:00,datetime_2011-01-01 17:00:00,datetime_2011-01-01 18:00:00,datetime_2011-01-01 1:00:00,datetime_2011-01-01 21:00:00,datetime_2011-01-01 22:00:00,datetime_2011-01-01 2:00:00,...,datetime_2012-12-19 20:00:00,datetime_2012-12-19 21:00:00,datetime_2012-12-19 2:00:00,datetime_2012-12-19 3:00:00,datetime_2012-12-19 4:00:00,datetime_2012-12-19 5:00:00,datetime_2012-12-19 6:00:00,datetime_2012-12-19 7:00:00,datetime_2012-12-19 8:00:00,datetime_2012-12-19 9:00:00
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8159,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8160,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8161,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8162,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8163,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [99]:
num_selector = make_column_selector(dtype_include='number')
# aislen las columnas numéricas
train_nums = X_train[num_selector(X_train)].reset_index(drop=True)
test_nums = X_test[num_selector(X_test)].reset_index(drop=True)
# recombinen los conjuntos de entrenamiento y de prueba en el eje 1 (columnas)
X_train_processed = pd.concat([train_nums, train_ohe], axis=1)
X_test_processed = pd.concat([test_nums, test_ohe], axis=1)
X_train_processed

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,datetime_2011-01-01 11:00:00,datetime_2011-01-01 13:00:00,...,datetime_2012-12-19 20:00:00,datetime_2012-12-19 21:00:00,datetime_2012-12-19 2:00:00,datetime_2012-12-19 3:00:00,datetime_2012-12-19 4:00:00,datetime_2012-12-19 5:00:00,datetime_2012-12-19 6:00:00,datetime_2012-12-19 7:00:00,datetime_2012-12-19 8:00:00,datetime_2012-12-19 9:00:00
0,3,0,1,1,28.70,32.575,65,12.9980,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0,1,1,22.96,26.515,52,22.0028,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0,1,1,12.30,15.910,61,6.0032,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0,0,1,23.78,27.275,60,8.9981,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,0,1,3,8.20,9.850,93,12.9980,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8159,1,0,0,1,6.56,8.335,47,11.0014,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8160,4,0,0,1,11.48,12.880,61,19.0012,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8161,4,0,0,1,11.48,13.635,48,16.9979,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8162,1,0,0,1,15.58,19.695,17,35.0008,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8163,2,0,1,2,22.14,25.760,88,12.9980,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [100]:
rf = RandomForestRegressor(random_state = 42)
model_originales = make_pipeline(scaler,rf)
model_originales.fit(X_train_processed, y_train)
print('Training score :', model_originales.score(X_train_processed, y_train))
print('Testing score:', model_originales.score(X_test_processed, y_test))

Training score : 0.8971208284958883
Testing score: 0.24544552069550984

#CONCLUSION

 * Al utilizar un modelo predictivo RandomForestRegressor para predecir count de usuarios de bicicletas por hora con las carateristicas originales se puede dar cuenta que nuestro score es 0.8 del X_train y del X_test es de 0.2 lo que quiere decir que nuestro modelo fue bueno en la predecir en el trairing pero fue bajo en el testing.

* Al utilizar un modelo predictivo RandomForestRegressor para predecir count de usuarios de bicicletas por hora con las carateristicas acabadas de crear se puede dar cuenta que nuestro score es 0.9 del X_train y del X_test es de 0.8 lo que quiere decir que mejoro el valor de trairing y testing.